@model Book

<form class="max-w-md mx-auto mt-8 space-y-6" asp-action="EditBook" asp-controller="Author" method="post" enctype="multipart/form-data">
    <input type="hidden" name="Id" value="@(Model.Id)" />
    <div>
        <h1 class="text-3xl font-bold text-center mb-6">Edit Book</h1>
    </div>
    <div>
        <label class="block text-gray-700 text-sm font-bold mb-2">Title</label>
        <input type="text" value="@(Model.Title)" name="Title" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" />
    </div>
    <div>
        <label class="block text-gray-700 text-sm font-bold mb-2">Genre</label>
        <select class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" name="Genre">
            @foreach (var genre in ViewBag.Genres)
            {
                <option value="@genre">@genre</option>
            }
        </select>
    </div>
    <div>
        <label class="block text-gray-700 text-sm font-bold mb-2">Language</label>
        <input type="text" name="Language" value="@(Model.Language)" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:border-blue-500" />
    </div>
    <div class="col-span-full">
        <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Edit photo</label>
        <div class="flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
            <div class="text-center">
                <label for="Image" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                    <span>Upload a file</span>
                    <input id="Image" name="Image" type="file" class="sr-only">
                    <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                    </svg>
                </label>
                <div class="mt-4 flex text-sm leading-6 text-gray-600">
                    <p class="pl-1">or drag and drop</p>
                </div>
                <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Edit</button>
    </div>
</form>
